@model CommentViewModel




<head>
    <link href="~/Content/CommentListStyle.css" rel="stylesheet" />
</head>


    <h1>Comments For @Model.Pies.First().Name</h1>


    @foreach (var obj in Model.Comments)
    {
        <div style="width:500px;height:100px;border:1px solid #000;">@obj.comment</div>
        <br />

    }

