@model HomeViewModel


<partial name="_Carousel" />
<p class="button" style="text-align:right">
    <a class="btn btn-primary"
       asp-controller="Customer"
       asp-action="Login">LogIn</a>
</p>
<h2>Pies of the week</h2>
<h4>Our weekly selection - just for you!</h4>


   

    <div class="row">

        @foreach (var pie in Model.PiesOfTheWeek)
        {
            <partial name="_PieCard" model="pie" />
        }

    </div>
