@model HomeViewModel

<body>
    <partial name="_Carousel" />
    <p class="button" style="float:right;
    margin-right:20px;">
        <a class="btn btn-primary"
           asp-controller="Customer"
           asp-action="Login">LogIn</a>
    </p>


  
    <p style="float: right;
        margin-right: 20px;">

        <a class="btn btn-primary" style="background-color: mediumvioletred !important;
    border: mediumvioletred" onclick="renderList()">Are Our Pies Fresh?</a>

    <p id="id"></p>
    <a id="m" style="" href="/Home/Index/"></a>
   
    <h2>Pies of the week</h2>
    <h4>Our weekly selection - just for you!</h4>




    <div class="row">

        @foreach (var pie in Model.PiesOfTheWeek)
        {
            <partial name="_PieCard" model="pie" />
        }

    </div>




    <script>

        async function renderList() {
        
           
            document.getElementById('id').innerHTML = "Of Course, Our pies always fresh and ready for your taste. To get more information you can visit Pies Journey page.";
            
            document.getElementById('m').innerHTML = "Pies Journey"

            }


       


    </script>

</body>
